absl-py==2.5.0
aiofiles==25.1.0
celo2-optax @ git+https://github.com/amoudgl/celo2.git@bb7fd561872f427ce47f97bc97992de009d5b313
certifi==2026.7.22
contourpy==1.4.0
cycler==0.12.1
dm-haiku==0.0.17
etils==1.14.0
flax==0.12.9
fonttools==4.66.0
fsspec==2026.9.0
humanize==4.16.0
jax==0.11.2
jaxlib==0.11.2
jmp==0.0.4
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
ml_dtypes==0.6.0
msgpack==1.2.2
numpy==2.5.3
opt_einsum==3.4.0
optax==0.2.8
orbax-checkpoint==0.12.5
packaging==26.3
pillow==12.3.0
prometheus_client==0.26.0
protobuf==7.36.2
psutil==7.2.2
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rich==15.0.0
scipy==1.18.1
simplejson==4.1.2
six==1.17.0
tabulate==0.10.0
tensorstore==0.1.85
treescope==0.1.10
typing_extensions==4.16.0
uvloop==0.22.1
wheel==0.48.0
zipp==4.1.0
